@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* text */
  --text-black: #000000;
  --text-secondary: #4f4f4f;
  --text-tertiary: #828282;
}
